
body {
    font-family: 'Tajawal', sans-serif;
    background: linear-gradient(45deg, #240165, #05001c );
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

#city-name{
    font-weight: 100;
    font-size: 200px;
    color: white;
}
.card{
    width: 12%;
    height: 95%;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 10px 5px rgb(0 0 0 / 30%);
}

.header{
    background-color: #5200e1;
    color: white;
    border-radius: 10px 10px 0 0;
    
}

.header h1{
    font-weight: 400;
    padding: 5px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.time{
    font-size: 50px;
    font-weight: 400;
    margin: 0px;
}